@use "forwarding" as f;

ul.pagination{
    p{
        cursor: pointer;
        user-select: none;
        padding: 6px 10px;
        text-align: center;
        margin-bottom: 0;
        &:active{
            box-shadow: 0 0 0 0.2rem f.$custom-yellow;
            border-color: f.$custom-yellow;
        }
    }

    svg{
        width: 0.8rem;
        height: 0.8rem;
        vertical-align: middle;
    }

    @media all and (min-width:300px){

       
            p{
                min-width: 2.5rem;
                padding: 6px 12px;
            }
        
    
    }

}

