@use "forwarding" as f;

.payment-section{
    margin-top: 2rem;
    margin-bottom: 6rem;

    h2{
        margin-bottom: 2rem;
        text-transform: capitalize;
        text-align: center;
        font-size: 1.2rem;
    }



    button{
        border: 1px solid f.$custom-yellow-btn-border;
        border-radius: 1rem;
        background-color: f.$custom-yellow-btn-bg;
        padding: 0.3rem 1.5rem;
        width: 100%;
        margin-top: 2rem;
        text-transform: capitalize;
        max-width: 516px;
        &:hover{
            background-color: f.$custom-yellow-btn-bg-hover;
        }

        &:active{
            background-color: f.$custom-yellow-btn-bg-active;
        }
    }

    @media all and (min-width:576px){
        h2{
            font-size: 1.4rem;
        }
    }

    @media all and (min-width:992px){
        margin-top: 4rem;
    }
}