@use "forwarding" as f;

.stock-indicator{
    display: inline-block;
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 50%;
    margin-right: 0.5rem;
    
}

.in-stock-indicator{
    background-color: f.$custom-green;
}

.out-of-stock-indicator{
    background-color: f.$custom-red;
}